<!-- <h1>Home#index</h1>
<ul>
  <% flash.each do |key, msg| %>
    <%= content_tag :li, msg, id: key %>
  <% end %>
</ul> -->

<%= react_component('IndexBody', {searchUrl: search_url,
                                  authToken: form_authenticity_token(),
                                  searchInput: @search_input || '',
                                  headerNeeded: header_needed},
                                 {prerender: true}) %>
